* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.eyes {
    margin: 40px auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 460px;
}

.eyes:hover .eye span {
    animation: none;
    transform: translate(62px, 62px);
}

.eyes .eye {
    border: 1px solid black;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 15px 2px red inset;
}

.eyes .eye span {
    display: block;
    position: relative;
    width: 75px;
    height: 75px;
    border: 1px solid rgb(0 0 255 / 50%);
    border-radius: 50%;
    transform: translate(120px, 62px);
    box-shadow: 0 0 20px blue inset;
    animation: right-left 6s ease infinite;
}

.eyes .eye span::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: black;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 2px black;
}

@keyframes right-left {

    25% {
        transform: translate(62px, 120px);
    }

    50% {
        transform: translate(4px, 62px);
    }

    75% {
        transform: translate(62px, 4px);
    }
}